{% load static %}


<body class="bg-dark">


    <div id="preloader">
        <div id="restan-preloader" class="restan-preloader">
            <div class="animation-preloader">
                <div class="spinner"></div>
            </div>
            <div class="loader">
                <div class="row">
                    <div class="col-3 loader-section section-left">
                        <div class="bg"></div>
                    </div>
                    <div class="col-3 loader-section section-left">
                        <div class="bg"></div>
                    </div>
                    <div class="col-3 loader-section section-right">
                        <div class="bg"></div>
                    </div>
                    <div class="col-3 loader-section section-right">
                        <div class="bg"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Preloader -->

    <!-- Start Header Top 
    ============================================= -->
    <div class="top-bar-area top-bar-style-one bg-theme text-light bg-transparent">
        <div class="container">
            <div class="row align-center">
                <div class="col-lg-7">
                    <ul class="item-flex">
                        <li>
                             <a href="tel:{{base.phone}}"> 
                                <img src="{% static 'assets/img/icon/6.png' %}" alt="Icon"> Номер: {{base.phone}}
                            </a>
                        </li>
                        <li>
                            <a href="mailto:{{base.email}}">
                                <img src="{% static 'assets/img/icon/7.png' %}" alt="Icon"> Email: {{base.email}}
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-5 text-end">
                    <p>
                        <i class="fas fa-map-marker-alt"></i> {{base.location}}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- End Header Top -->

    <!-- Header 
    ============================================= -->
    <header>
        <!-- Start Navigation -->
        <nav class="navbar mobile-sidenav brand-center-style-two dark-layout brand-center navbar-default validnavs">


            <div class="container">            
                

                <!-- Start Header Navigation -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                        <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand" href="index.html">
                        <img src="{{base.logo.url}}" class="logo logo-display" alt="Logo">
                        <img src="{{base.logo.url}}" class="logo logo-scrolled" alt="Logo">
                    </a>
                </div>
                <!-- End Header Navigation -->

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="navbar-menu">

                    <img src="{% static 'assets/img/logo-light.png' %}" alt="Logo">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                        <i class="fa fa-times"></i>
                    </button>
                    
                    <ul class="nav navbar-nav navbar-center" data-in="fadeInDown" data-out="fadeOutUp">
                        <li class="dropdown megamenu-fw">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Главная страница</a>
                            <ul class="dropdown-menu megamenu-content" role="menu">
                                <li>
                                    <div class="col-menu-wrap">
                                        <div class="col-item">
                                            <div class="menu-thumb">
                                                <img src="{% static 'assets/img/demo/home-1.jpg' %}" alt="Image Not Found">
                                                <div class="overlay">
                                                    <a href="index.html">Светлая версия</a>
                                                    <a href="index-dark.html">Тёмная версия</a>
                                                </div>
                                            </div>
                                            <h6 class="title"><a href="index.html">Home One</a></h6>
                                        </div>
                                        <div class="col-item">
                                            <div class="menu-thumb">
                                                <img src="{% static 'assets/img/demo/home-2.jpg' %}" alt="Image Not Found">
                                                <div class="overlay">
                                                    <a href="index-2.html">Light Version</a>
                                                    <a href="index-2-dark.html">Dark Version</a>
                                                </div>
                                            </div>
                                            <h6 class="title"><a href="index-2.html">Home Two</a></h6>
                                        </div>
                                        <div class="col-item">
                                            <div class="menu-thumb">
                                                <img src="{% static 'assets/img/demo/home-3.jpg' %}" alt="Image Not Found">
                                                <div class="overlay">
                                                    <a href="index-3.html">Light Version</a>
                                                    <a href="index-3-dark.html">Dark Version</a>
                                                </div>
                                            </div>
                                            <h6 class="title"><a href="index-3.html">Home Three</a></h6>
                                        </div>
                                        <div class="col-item">
                                            <div class="menu-thumb">
                                                <img src="{% static 'assets/img/demo/home-4.jpg' %}" alt="Image Not Found">
                                                <div class="overlay">
                                                    <a href="index-4.html">Light Version</a>
                                                    <a href="index-4-dark.html">Dark Version</a>
                                                </div>
                                            </div>
                                            <h6 class="title"><a href="index-4.html">Home Four</a></h6>
                                        </div>
                                        <div class="col-item">
                                            <div class="menu-thumb">
                                                <img src="{% static 'assets/img/demo/home-5.jpg' %}" alt="Image Not Found">
                                                <div class="overlay">
                                                    <a href="index-5.html">Light Version</a>
                                                    <a href="index-5-dark.html">Dark Version</a>
                                                </div>
                                            </div>
                                            <h6 class="title"><a href="index-5.html">Home Five</a></h6>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" >Страницы</a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'about' %}">О нас</a></li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" >Наша команда</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="chef.html">Команда </a></li>
                                        <li><a href="chef-details.html">Шеф-повар</a></li>
                                    </ul>
                                </li>
                                <li><a href="reservation.html">Бронирование</a></li>
                                <li><a href="contact.html">Связаться с нами</a></li>
                                <!-- <li><a href="404.html">Error Page</a></li> -->
                                <!-- <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" >Dark Version</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="about-us-dark.html">About Us</a></li>
                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" >Our Chef</a>
                                            <ul class="dropdown-menu">
                                                <li><a href="chef-dark.html">Chef Style One</a></li>
                                                <li><a href="chef-details-dark.html">Chef Details</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="reservation-dark.html">Reservation</a></li>
                                        <li><a href="contact-dark.html">Contact Us</a></li>
                                        <li><a href="404-dark.html">Error Page</a></li>
                                    </ul>
                                </li> -->
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" >Меню</a>
                            <ul class="dropdown-menu">
                                <li><a href="food-menu.html">Меню стиль 1</a></li>
                                <li><a href="food-menu-2.html">Меню стиль 2</a></li>
                                <li><a href="food-menu-3.html">Меню стиль 3</a></li>
                                <!-- <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" >Dark Version</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="food-menu-dark.html">Menu Style One</a></li>
                                        <li><a href="food-menu-2-dark.html">Menu Style Two</a></li>
                                        <li><a href="food-menu-3-dark.html">Menu Style Three</a></li>
                                    </ul>
                                </li> -->
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" >Блог
                            <ul class="dropdown-menu">
                                <li><a href="blog-standard.html">Blog Standard</a></li>
                                <li><a href="blog-with-sidebar.html">Blog With Sidebar</a></li>
                                <li><a href="blog-2-colum.html">Blog Grid Two Colum</a></li>
                                <li><a href="blog-3-colum.html">Blog Grid Three Colum</a></li>
                                <li><a href="blog-single.html">Blog Single</a></li>
                                <li><a href="blog-single-with-sidebar.html">Blog Single With Sidebar</a></li>
                                <!-- <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" >Dark Version</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="blog-standard-dark.html">Blog Standard</a></li>
                                        <li><a href="blog-with-sidebar-dark.html">Blog With Sidebar</a></li>
                                        <li><a href="blog-2-colum-dark.html">Blog Grid Two Colum</a></li>
                                        <li><a href="blog-3-colum-dark.html">Blog Grid Three Colum</a></li>
                                        <li><a href="blog-single-dark.html">Blog Single</a></li>
                                        <li><a href="blog-single-with-sidebar-dark.html">Blog Single With Sidebar</a></li>
                                    </ul>
                                </li> -->
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" >Магазин</a>
                            <ul class="dropdown-menu">
                                <li><a href="shop.html">Shop</a></li>
                                <li><a href="shop-single.html">Shop Single</a></li>
                                <li><a href="shop-single-thumb-only.html">Shop Single Two</a></li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" >Dark Version</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="shop-dark.html">Shop</a></li>
                                        <li><a href="shop-single-dark.html">Shop Single</a></li>
                                        <li><a href="shop-single-thumb-only-dark.html">Shop Single Two</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li><a href="contact.html">Связаться с нами</a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->

                

                <!-- Overlay screen for menu -->
                <div class="overlay-screen"></div>
                <!-- End Overlay screen for menu -->

            </div>   
            
        </nav>
        <!-- End Navigation -->

    </header>
    <!-- End Header -->

    <!-- Start Banner Area 